## Stackoverflow_Survey_Analysis_2018

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings; warnings.simplefilter('ignore')

In [2]:
df2018 = pd.read_csv(r'C:\Users\sanja\Stack_Data\survey_results_public_2018.csv')
df2018.head(2)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
df2018.shape

(98855, 129)

In [4]:
#print(df2018.columns.tolist()      !--> Listing coloumsn in table

In [5]:
drop_cols = ['Respondent', 'OpenSource', 'Student', 'FormalEducation', 'CompanySize', 'CareerSatisfaction', 'HopeFiveYears', 'LastNewJob', 'AssessJob1', 'AssessJob2', 'AssessJob3', 'AssessJob4', 'AssessJob5', 'AssessJob6', 'AssessJob7', 'AssessJob8', 'AssessJob9', 'AssessJob10', 'AssessBenefits1', 'AssessBenefits2', 'AssessBenefits3', 'AssessBenefits4', 'AssessBenefits5', 'AssessBenefits6', 'AssessBenefits7', 'AssessBenefits8', 'AssessBenefits9', 'AssessBenefits10', 'AssessBenefits11', 'JobContactPriorities1', 'JobContactPriorities2', 'JobContactPriorities3', 'JobContactPriorities4', 'JobContactPriorities5', 'JobEmailPriorities1', 'JobEmailPriorities2', 'JobEmailPriorities3', 'JobEmailPriorities4', 'JobEmailPriorities5', 'JobEmailPriorities6', 'JobEmailPriorities7', 'UpdateCV', 'CommunicationTools', 'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes', 'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1', 'AgreeDisagree2', 'AgreeDisagree3', 'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformDesireNextYear', 'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'IDE', 'NumberMonitors', 'Methodology', 'VersionControl', 'CheckInCode', 'AdBlocker', 'AdBlockerDisable', 'AdBlockerReasons', 'AdsAgreeDisagree1', 'AdsAgreeDisagree2', 'AdsAgreeDisagree3', 'AdsActions', 'AdsPriorities1', 'AdsPriorities2', 'AdsPriorities3', 'AdsPriorities4', 'AdsPriorities5', 'AdsPriorities6', 'AdsPriorities7', 'AIDangerous', 'AIInteresting', 'AIResponsible', 'AIFuture', 'EthicsChoice', 'EthicsReport', 'EthicsResponsible', 'EthicalImplications', 'StackOverflowRecommend', 'StackOverflowVisit', 'StackOverflowHasAccount', 'StackOverflowParticipate', 'StackOverflowJobs', 'StackOverflowDevStory', 'StackOverflowJobsRecommend', 'StackOverflowConsiderMember', 'HypotheticalTools1', 'HypotheticalTools2', 'HypotheticalTools3', 'HypotheticalTools4', 'HypotheticalTools5', 'WakeTime', 'HoursComputer', 'HoursOutside', 'SkipMeals', 'ErgonomicDevices', 'Exercise', 'SexualOrientation', 'EducationParents', 'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy']
df2018.drop(drop_cols, axis=1, inplace=True)

In [6]:
df2018.shape

(98855, 21)

### Data Filtering

In [7]:
col=['Age','Salary','ConvertedSalary','Country','Currency','CurrencySymbol','DevType','Employment','RaceEthnicity','Gender','SalaryType','Hobby','JobSatisfaction','JobSearchStatus','OperatingSystem','PlatformWorkedWith','UndergradMajor','YearsCoding','YearsCodingProf','LanguageDesireNextYear','LanguageWorkedWith',]
df=df2018[col]
df.head(5)

,Age,Salary,ConvertedSalary,Country,Currency,CurrencySymbol,DevType,Employment,RaceEthnicity,Gender,...,Hobby,JobSatisfaction,JobSearchStatus,OperatingSystem,PlatformWorkedWith,UndergradMajor,YearsCoding,YearsCodingProf,LanguageDesireNextYear,LanguageWorkedWith
0,25 - 34 years old,NaN,NaN,Kenya,NaN,KES,Full-stack developer,Employed part-time,Black or of African descent,Male,...,Yes,Extremely satisfied,"I’m not actively looking, but I am open to new...",Linux-based,AWS;Azure;Linux;Firebase,Mathematics or statistics,3-5 years,3-5 years,JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS
1,35 - 44 years old,51000,70841.0,United Kingdom,British pounds sterling (£),GBP,Database administrator;DevOps specialist;Full-...,Employed full-time,White or of European descent,Male,...,Yes,Moderately dissatisfied,I am actively looking for a job,Linux-based,Linux,"A natural science (ex. biology, chemistry, phy...",30 or more years,18-20 years,Go;Python,JavaScript;Python;Bash/Shell
2,NaN,NaN,NaN,United States,NaN,NaN,Engineering manager;Full-stack developer,Employed full-time,NaN,NaN,...,Yes,Moderately satisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,"Computer science, computer engineering, or sof...",24-26 years,6-8 years,NaN,NaN
3,35 - 44 years old,NaN,NaN,United States,U.S. dollars ($),NaN,Full-stack developer,Employed full-time,White or of European descent,Male,...,No,Neither satisfied nor dissatisfied,"I’m not actively looking, but I am open to new...",Windows,Azure,"Computer science, computer engineering, or sof...",18-20 years,12-14 years,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4,18 - 24 years old,260000,21426.0,South Africa,South African rands (R),ZAR,Data or business analyst;Desktop or enterprise...,Employed full-time,White or of European descent,Male,...,Yes,Slightly satisfied,"I’m not actively looking, but I am open to new...",Windows,Arduino;Windows Desktop or Server,"Computer science, computer engineering, or sof...",6-8 years,0-2 years,Assembly;C;C++;Matlab;SQL;Bash/Shell,C;C++;Java;Matlab;R;SQL;Bash/Shell

In [8]:
#34 col has been selected, compared the shape
df.shape

(98855, 21)

In [9]:
print(df.isnull().sum())

Age                       34281
Salary                    48277
ConvertedSalary           51153
Country                     412
Currency                  36847
CurrencySymbol            40205
DevType                    6757
Employment                 3534
RaceEthnicity             41382
Gender                    34386
SalaryType                47785
Hobby                         0
JobSatisfaction           29579
JobSearchStatus           19367
OperatingSystem           22676
PlatformWorkedWith        32856
UndergradMajor            19819
YearsCoding                5020
YearsCodingProf           20952
LanguageDesireNextYear    25611
LanguageWorkedWith        20521
dtype: int64

## Data Validation

In [10]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')

Total :  2075955
Total missing :  541420
Missing Percentage:  26.080526793692542 %

## Gender Filtering

In [11]:
#Gender: null = 13312 (21.6%)
df['Gender'].unique()
#count number of each gender
df.groupby('Gender')['Gender'].count()

Gender
Female                                                                        4025
Female;Male                                                                     98
Female;Male;Non-binary, genderqueer, or gender non-conforming                    3
Female;Male;Transgender                                                         14
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming       50
Female;Non-binary, genderqueer, or gender non-conforming                        50
Female;Transgender                                                             145
Female;Transgender;Non-binary, genderqueer, or gender non-conforming            24
Male                                                                         59458
Male;Non-binary, genderqueer, or gender non-conforming                         128
Male;Transgender                                                                29
Male;Transgender;Non-binary, genderqueer, or gender non-conforming               5
Non-binary, genderqueer, or gender non-conforming                              284
Transgender                                                                    105
Transgender;Non-binary, genderqueer, or gender non-conforming                   51
Name: Gender, dtype: int64

In [12]:
#replace
df['Gender'] = df['Gender'].fillna('Non-binary, genderqueer, or gender non-conforming')
df['Gender'].replace('Female;Male;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Male;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Transgender;Non-binary, genderqueer, or gender non-conforming', 'Non-conforming and Transgender', inplace =True) ##not sure
df['Gender'].replace('Female;Male', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender', 'Female', inplace =True)
df['Gender'].replace('Male;Transgender', 'Female', inplace =True) 
df['Gender'].replace('Non-binary, genderqueer, or gender non-conforming', 'Non-conforming and Transgender', inplace =True) #
df['Gender'].replace('Transgender', 'Male', inplace =True)

In [13]:
df.groupby('Gender')['Gender'].count()

Gender
Female                             4438
Male                              59696
Non-conforming and Transgender    34721
Name: Gender, dtype: int64

In [14]:
df.shape

(98855, 21)

## Age and Gender Analysis

In [15]:
df['Age'].unique()

array(['25 - 34 years old', '35 - 44 years old', nan, '18 - 24 years old',
       '45 - 54 years old', '55 - 64 years old', 'Under 18 years old',
       '65 years or older'], dtype=object)

In [16]:
#sns.scatterplot(x='Gender', y='Age', data=df) #I can arrange a random variable here, but need input from the user.
#df = df[(df['Age'] >= 'Under 18 years old') & (df['Age'] <= '65 years or older')]

In [17]:
#df.info()   #  My age,Gender is object here

In [18]:
print(df.isnull().sum())

Age                       34281
Salary                    48277
ConvertedSalary           51153
Country                     412
Currency                  36847
CurrencySymbol            40205
DevType                    6757
Employment                 3534
RaceEthnicity             41382
Gender                        0
SalaryType                47785
Hobby                         0
JobSatisfaction           29579
JobSearchStatus           19367
OperatingSystem           22676
PlatformWorkedWith        32856
UndergradMajor            19819
YearsCoding                5020
YearsCodingProf           20952
LanguageDesireNextYear    25611
LanguageWorkedWith        20521
dtype: int64

In [19]:
df.groupby('Country')['Country'].count()

Country
Afghanistan                              64
Albania                                 109
Algeria                                 130
Andorra                                  15
Angola                                   11
                                       ...
Venezuela, Bolivarian Republic of...    123
Viet Nam                                331
Yemen                                    13
Zambia                                    9
Zimbabwe                                 39
Name: Country, Length: 183, dtype: int64

In [20]:
df.dropna(subset=['Country'], inplace = True)

In [21]:
df.groupby('Salary')['Salary'].count()
df.dropna(subset=['Salary'], inplace = True)

In [ ]:
df.groupby('Salary')['Salary'].count()

In [22]:
print(df.isnull().sum())

Age                       3112
Salary                       0
ConvertedSalary           2876
Country                      0
Currency                  5428
CurrencySymbol             475
DevType                    360
Employment                 182
RaceEthnicity             7033
Gender                       0
SalaryType                8356
Hobby                        0
JobSatisfaction           3064
JobSearchStatus              1
OperatingSystem           1640
PlatformWorkedWith        7797
UndergradMajor            5911
YearsCoding                 20
YearsCodingProf            960
LanguageDesireNextYear    4039
LanguageWorkedWith        1342
dtype: int64

In [23]:
df.shape

(50578, 21)

In [24]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')

Total :  1062138
Total missing :  52596
Missing Percentage:  4.951898905791903 %