## Stackoverflow_Survey_Analysis_2018

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings; 
warnings.simplefilter('ignore')

## Exlporing 2018 Dataset

In [2]:
df2018 = pd.read_csv(r'C:\Users\sanja\Stack_Data\survey_results_public_2018.csv')
df2018.head(2)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
df2018.shape

(98855, 129)

In [4]:
#print(df2018.columns.tolist()      !--> Listing coloumsn in table

In [5]:
#dropping the columns
#drop_cols = ['Respondent', 'OpenSource', 'Student', 'FormalEducation', 'CompanySize', 'CareerSatisfaction', 'HopeFiveYears', 'LastNewJob', 'AssessJob1', 'AssessJob2', 'AssessJob3', 'AssessJob4', 'AssessJob5', 'AssessJob6', 'AssessJob7', 'AssessJob8', 'AssessJob9', 'AssessJob10', 'AssessBenefits1', 'AssessBenefits2', 'AssessBenefits3', 'AssessBenefits4', 'AssessBenefits5', 'AssessBenefits6', 'AssessBenefits7', 'AssessBenefits8', 'AssessBenefits9', 'AssessBenefits10', 'AssessBenefits11', 'JobContactPriorities1', 'JobContactPriorities2', 'JobContactPriorities3', 'JobContactPriorities4', 'JobContactPriorities5', 'JobEmailPriorities1', 'JobEmailPriorities2', 'JobEmailPriorities3', 'JobEmailPriorities4', 'JobEmailPriorities5', 'JobEmailPriorities6', 'JobEmailPriorities7', 'UpdateCV', 'CommunicationTools', 'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes', 'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1', 'AgreeDisagree2', 'AgreeDisagree3', 'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformDesireNextYear', 'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'IDE', 'NumberMonitors', 'Methodology', 'VersionControl', 'CheckInCode', 'AdBlocker', 'AdBlockerDisable', 'AdBlockerReasons', 'AdsAgreeDisagree1', 'AdsAgreeDisagree2', 'AdsAgreeDisagree3', 'AdsActions', 'AdsPriorities1', 'AdsPriorities2', 'AdsPriorities3', 'AdsPriorities4', 'AdsPriorities5', 'AdsPriorities6', 'AdsPriorities7', 'AIDangerous', 'AIInteresting', 'AIResponsible', 'AIFuture', 'EthicsChoice', 'EthicsReport', 'EthicsResponsible', 'EthicalImplications', 'StackOverflowRecommend', 'StackOverflowVisit', 'StackOverflowHasAccount', 'StackOverflowParticipate', 'StackOverflowJobs', 'StackOverflowDevStory', 'StackOverflowJobsRecommend', 'StackOverflowConsiderMember', 'HypotheticalTools1', 'HypotheticalTools2', 'HypotheticalTools3', 'HypotheticalTools4', 'HypotheticalTools5', 'WakeTime', 'HoursComputer', 'HoursOutside', 'SkipMeals', 'ErgonomicDevices', 'Exercise', 'SexualOrientation', 'EducationParents', 'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy']
#df2018.drop(drop_cols, axis=1, inplace=True)

In [6]:
#df2018.shape #checking rows and col after dropping the table

### Data Filtering - Sorting & Renaming

In [7]:
col=['Age','ConvertedSalary','Country','Currency','DevType','Employment','RaceEthnicity','Gender','SalaryType','Hobby','JobSatisfaction','JobSearchStatus','OperatingSystem','UndergradMajor','YearsCoding','YearsCodingProf','LanguageDesireNextYear','LanguageWorkedWith',]
df=df2018[col]

In [8]:
#renaming the colo
# 'ConvertedSalary': 'SalaryUSD'
df.rename(columns={'ConvertedSalary': 'SalaryUSD' }, inplace =True)

In [9]:
df.sort_index(axis=1).head(2)

,Age,Country,Currency,DevType,Employment,Gender,Hobby,JobSatisfaction,JobSearchStatus,LanguageDesireNextYear,LanguageWorkedWith,OperatingSystem,RaceEthnicity,SalaryType,SalaryUSD,UndergradMajor,YearsCoding,YearsCodingProf
0,25 - 34 years old,Kenya,NaN,Full-stack developer,Employed part-time,Male,Yes,Extremely satisfied,"I’m not actively looking, but I am open to new...",JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS,Linux-based,Black or of African descent,Monthly,NaN,Mathematics or statistics,3-5 years,3-5 years
1,35 - 44 years old,United Kingdom,British pounds sterling (£),Database administrator;DevOps specialist;Full-...,Employed full-time,Male,Yes,Moderately dissatisfied,I am actively looking for a job,Go;Python,JavaScript;Python;Bash/Shell,Linux-based,White or of European descent,Yearly,70841.0,"A natural science (ex. biology, chemistry, phy...",30 or more years,18-20 years

In [10]:
#21 col has been selected rfom 129, compared the shape
df.shape

(98855, 18)

In [11]:
print(df.isnull().sum()) #Finding Null Values

Age                       34281
SalaryUSD                 51153
Country                     412
Currency                  36847
DevType                    6757
Employment                 3534
RaceEthnicity             41382
Gender                    34386
SalaryType                47785
Hobby                         0
JobSatisfaction           29579
JobSearchStatus           19367
OperatingSystem           22676
UndergradMajor            19819
YearsCoding                5020
YearsCodingProf           20952
LanguageDesireNextYear    25611
LanguageWorkedWith        20521
dtype: int64

In [12]:
df.dtypes #data_types

Age                        object
SalaryUSD                 float64
Country                    object
Currency                   object
DevType                    object
Employment                 object
RaceEthnicity              object
Gender                     object
SalaryType                 object
Hobby                      object
JobSatisfaction            object
JobSearchStatus            object
OperatingSystem            object
UndergradMajor             object
YearsCoding                object
YearsCodingProf            object
LanguageDesireNextYear     object
LanguageWorkedWith         object
dtype: object

## Data Validation - Total Cells vs Missing %

In [13]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')

Total :  1779390
Total missing :  420082
Missing Percentage:  23.608202811075707 %

## Gender Filtering          
#### Data Cleaning Starts

In [14]:
#Gender: null = 13312 (21.6%)
df['Gender'].unique()
#count number of each gender
df.groupby('Gender')['Gender'].count()

Gender
Female                                                                        4025
Female;Male                                                                     98
Female;Male;Non-binary, genderqueer, or gender non-conforming                    3
Female;Male;Transgender                                                         14
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming       50
Female;Non-binary, genderqueer, or gender non-conforming                        50
Female;Transgender                                                             145
Female;Transgender;Non-binary, genderqueer, or gender non-conforming            24
Male                                                                         59458
Male;Non-binary, genderqueer, or gender non-conforming                         128
Male;Transgender                                                                29
Male;Transgender;Non-binary, genderqueer, or gender non-conforming               5
Non-binary, genderqueer, or gender non-conforming                              284
Transgender                                                                    105
Transgender;Non-binary, genderqueer, or gender non-conforming                   51
Name: Gender, dtype: int64

In [15]:
#replace
df['Gender'] = df['Gender'].fillna('Non-binary, genderqueer, or gender non-conforming')
df['Gender'].replace('Female;Male;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Male;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Transgender;Non-binary, genderqueer, or gender non-conforming', 'Non-conforming', inplace =True) ##not sure
df['Gender'].replace('Female;Male', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender', 'Female', inplace =True)
df['Gender'].replace('Male;Transgender', 'Female', inplace =True) 
df['Gender'].replace('Non-binary, genderqueer, or gender non-conforming', 'Non-conforming', inplace =True) #
df['Gender'].replace('Transgender', 'Male', inplace =True)

In [16]:
df.groupby('Gender')['Gender'].count()

Gender
Female             4438
Male              59696
Non-conforming    34721
Name: Gender, dtype: int64

In [17]:
df.shape

(98855, 18)

In [18]:
df.isnull().sum()['Gender']

0

## Country

In [19]:
df.groupby('Country')['Country'].count()

Country
Afghanistan                              64
Albania                                 109
Algeria                                 130
Andorra                                  15
Angola                                   11
                                       ...
Venezuela, Bolivarian Republic of...    123
Viet Nam                                331
Yemen                                    13
Zambia                                    9
Zimbabwe                                 39
Name: Country, Length: 183, dtype: int64

In [20]:
df['Country'].isnull().sum()

412

In [21]:
df['Country'].fillna(method='ffill', inplace=True)

In [22]:
df['Country'].isnull().sum()

0

## Hobby

In [23]:
df['Hobby'].isnull().sum()

0

In [24]:
df.groupby('Hobby')['Hobby'].count()

Hobby
No     18958
Yes    79897
Name: Hobby, dtype: int64

## undergrad

In [25]:
df['UndergradMajor'].isnull().sum()

19819

In [26]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          50336
Another engineering discipline (ex. civil, electrical, mechanical)        6945
Information systems, information technology, or system administration     6507
A natural science (ex. biology, chemistry, physics)                       3050
Mathematics or statistics                                                 2818
Web development or web design                                             2418
A business discipline (ex. accounting, finance, marketing)                1921
A humanities discipline (ex. literature, history, philosophy)             1590
A social science (ex. anthropology, psychology, political science)        1377
Fine arts or performing arts (ex. graphic design, music, studio art)      1135
I never declared a major                                                   693
A health science (ex. nursing, pharmacy, radiology)                        246
Name: UndergradMajor, dtype: int64

In [27]:
def refactor_major(df):
    conditions_major = [(df['UndergradMajor'] == 'Computer science, computer engineering, or software engineering'), 
                        (df['UndergradMajor'] == 'Another engineering discipline (ex. civil, electrical, mechanical)'),
                        (df['UndergradMajor'] == 'Information systems, information technology, or system administration'), 
                        (df['UndergradMajor'] == 'Mathematics or statistics'),
                        (df['UndergradMajor'] == 'A natural science (ex. biology, chemistry, physics)') 
                        |(df['UndergradMajor'] == 'A health science (ex. nursing, pharmacy, radiology)'), 
                        (df['UndergradMajor'] == 'Web development or web design'), 
                        (df['UndergradMajor'] == 'A business discipline (ex. accounting, finance, marketing)'), 
                        (df['UndergradMajor'] == 'A humanities discipline (ex. literature, history, philosophy)')
                        | (df['UndergradMajor'] == 'A social science (ex. anthropology, psychology, political science)')
                        | (df['UndergradMajor'] == 'Fine arts or performing arts (ex. graphic design, music, studio art)'),
                        (df['UndergradMajor'] == 'I never declared a major') ]
    
    choices_major = ['Computer Science', 'Engineering', 'Info Systems', 'Math/Stat', 'Other Science',
                     'Web Design/Dev', 'Business', 'Arts and Science', 'No major']
    df['UndergradMajor'] = np.select(conditions_major, choices_major, default = np.NaN)
    return df

df = refactor_major(df)
df['UndergradMajor'].replace('nan', 'No major', inplace=True)

In [28]:
df['UndergradMajor'].value_counts()

Computer Science    50336
No major            20512
Engineering          6945
Info Systems         6507
Arts and Science     4102
Other Science        3296
Math/Stat            2818
Web Design/Dev       2418
Business             1921
Name: UndergradMajor, dtype: int64

In [29]:
df['UndergradMajor'].isnull().sum()

0

In [30]:
df.dropna(subset=['UndergradMajor'], inplace=True)

In [31]:
df['UndergradMajor'].isnull().sum()

0

## Job Status

In [32]:
df['JobSearchStatus'].value_counts()

I’m not actively looking, but I am open to new opportunities    47556
I am not interested in new job opportunities                    19296
I am actively looking for a job                                 12636
Name: JobSearchStatus, dtype: int64

In [33]:
df.dropna(subset=['JobSearchStatus'], inplace=True)

In [34]:
# refactoring JobStatus
# changing the jobstatus to seeking and non seeking
def refactor_job(df):
    '''function to change JobStatus category to Seeking and Non Seeking'''
    
    conditions_job = [(df['JobSearchStatus'] == 'I am actively looking for a job'),
                    (df['JobSearchStatus'] == 'I am not interested in new job opportunities')
                    | (df['JobSearchStatus'] == 'I’m not actively looking, but I am open to new opportunities')]
    
    choices_job = ['Seeking', 'Not seeking']
    
    df['JobSearchStatus'] = np.select(conditions_job, choices_job, default=np.nan)
                       
    return df

df = refactor_job(df)

In [35]:
df['JobSearchStatus'].value_counts()

Not seeking    66852
Seeking        12636
Name: JobSearchStatus, dtype: int64

In [36]:
df['JobSearchStatus'].isnull().sum()

0

## Employment

In [37]:
df['Employment'].value_counts()

Employed full-time                                      58551
Independent contractor, freelancer, or self-employed     7797
Not employed, but looking for work                       4604
Employed part-time                                       4170
Not employed, and not looking for work                   3210
Retired                                                   138
Name: Employment, dtype: int64

In [38]:
df['Employment'].isnull().sum()

1018

In [39]:
df['Employment'].fillna(method='ffill', inplace=True)

In [40]:
#im not considering the retired person here
#Refactoring the employment
def refactor_emp(df):
    
    conditions_emp = [(df['Employment'] == 'Employed full-time'),
                    (df['Employment'] == 'Independent contractor, freelancer, or self-employed'),
                    (df['Employment'] == 'Not employed, but looking for work'),
                    (df['Employment'] == 'Employed part-time')]
    
    choices_emp = ['Full-time', 'Self-employed', 'Not employed', 'Part-time']
    
    df['Employment'] = np.select(conditions_emp, choices_emp, default=np.nan)
                       
    return df

df = refactor_emp(df)

In [41]:
df['Employment'].value_counts()

Full-time        58565
Self-employed     7825
Not employed      5161
Part-time         4179
nan               3758
Name: Employment, dtype: int64

In [42]:
df['Employment'].isnull().sum()

0

## JobSatisfaction

In [43]:
df['JobSatisfaction'].value_counts()

Moderately satisfied                  25908
Extremely satisfied                   12395
Slightly satisfied                     9973
Slightly dissatisfied                  7037
Moderately dissatisfied                6286
Neither satisfied nor dissatisfied     4935
Extremely dissatisfied                 2472
Name: JobSatisfaction, dtype: int64

In [44]:
df['JobSatisfaction'].isnull().sum()

10482

In [45]:
df['JobSatisfaction'].fillna(method='ffill', inplace=True)

In [46]:
df['JobSatisfaction'].isnull().sum()

0

## Ethnicity

In [47]:
df['RaceEthnicity'].isnull().sum()

23578

In [48]:
#count number of each Ethnicity
df.groupby('RaceEthnicity')['RaceEthnicity'].count()

RaceEthnicity
Black or of African descent                                                                                                                                 1204
Black or of African descent;East Asian                                                                                                                         7
Black or of African descent;East Asian;Hispanic or Latino/Latina                                                                                               2
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian                    1
Black or of African descent;East Asian;Hispanic or Latino/Latina;Middle Eastern;Native American, Pacific Islander, or Indigenous Australian;South Asian        1
                                                                                                                                                           ...
Native American, Pacific Islander, or Indigenous Australian;South Asian;White or of European descent                                                           2
Native American, Pacific Islander, or Indigenous Australian;White or of European descent                                                                     160
South Asian                                                                                                                                                 6112
South Asian;White or of European descent                                                                                                                      88
White or of European descent                                                                                                                               39320
Name: RaceEthnicity, Length: 71, dtype: int64

In [49]:
#combine Ethnicity by str.match(if each string starts with a match of a regular expression pattern)
df.loc[df['RaceEthnicity'].str.match('Biracial') == True, 'RaceEthnicity'] = 'Biracial'
df.loc[df['RaceEthnicity'].str.match('Black or of African descent') == True, 'RaceEthnicity'] = 'Black or African descent'
df.loc[df['RaceEthnicity'].str.match('East Asian') == True, 'RaceEthnicity'] = 'East Asian'
df.loc[df['RaceEthnicity'].str.match('Hispanic or Latino') == True, 'RaceEthnicity'] = 'Hispanic or Latino'
df.loc[df['RaceEthnicity'].str.match('Indigenous') == True, 'RaceEthnicity'] = 'Indigenous'
df.loc[df['RaceEthnicity'].str.match('Middle Eastern') == True, 'RaceEthnicity'] = 'Middle Eastern'
df.loc[df['RaceEthnicity'].str.match('South') == True, 'RaceEthnicity'] = 'South Asian'
df.loc[df['RaceEthnicity'].str.match('White or of European descent') == True, 'RaceEthnicity'] = 'White or European descent'
df.loc[df['RaceEthnicity'].str.match('Multiracial') == True, 'RaceEthnicity'] = 'Multiracial'
df.loc[df['RaceEthnicity'].str.match('Native American') == True, 'RaceEthnicity'] = 'Native American'

In [50]:
df.groupby('RaceEthnicity')['RaceEthnicity'].count() #11 groups of Ethnicity after combining

RaceEthnicity
Black or African descent      1549
East Asian                    2787
Hispanic or Latino            3592
Middle Eastern                2176
Native American                286
South Asian                   6200
White or European descent    39320
Name: RaceEthnicity, dtype: int64

In [51]:
df['RaceEthnicity'].isnull().sum()

23578

In [52]:
df['RaceEthnicity']=df.groupby(['Country'])['RaceEthnicity'].bfill().ffill()

In [53]:
df['RaceEthnicity'].isnull().sum()

0

## Developer Roles

In [54]:
df['DevType'].isnull().sum()

728

In [55]:
df['DevType'].fillna(method='ffill', inplace=True)

In [56]:
df.groupby('DevType')['DevType'].count()

DevType
Back-end developer                                                                                                                                                                                           5372
Back-end developer;C-suite executive (CEO, CTO, etc.)                                                                                                                                                          59
Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst                                                                                                                                  5
Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist                                                                                    1
Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer       1
                                                                                                                                                                                                             ...
QA or test developer;Student;System administrator                                                                                                                                                               5
QA or test developer;System administrator                                                                                                                                                                      10
Student                                                                                                                                                                                                      2523
Student;System administrator                                                                                                                                                                                   63
System administrator                                                                                                                                                                                          247
Name: DevType, Length: 8820, dtype: int64

In [57]:
#combine Ethnicity by str.match(if each string starts with a match of a regular expression pattern)
df.loc[df['DevType'].str.match('Back-end developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Student') == True, 'DevType'] = 'Student'
df.loc[df['DevType'].str.match('QA or test developer') == True, 'DevType'] = 'Non developer'
df.loc[df['DevType'].str.match('Product manager') == True, 'DevType'] = 'Manager'
df.loc[df['DevType'].str.match('Mobile developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Marketing or sales professional') == True, 'DevType'] = 'Non developer'

df.loc[df['DevType'].str.match('System administrator') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Game or graphics developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Full-stack developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Front-end developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Engineering manager') == True, 'DevType'] = 'Manager'
df.loc[df['DevType'].str.match('Embedded applications or devices developer') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Educator or academic researcher') == True, 'DevType'] = 'Student'
df.loc[df['DevType'].str.match('DevOps specialist') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Desktop or enterprise applications developer') == True, 'DevType'] = 'Developer'

df.loc[df['DevType'].str.match('Designer') == True, 'DevType'] = 'Non developer'
df.loc[df['DevType'].str.match('Database administrator') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Data scientist or machine learning specialist') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('Data or business analyst') == True, 'DevType'] = 'Developer'
df.loc[df['DevType'].str.match('C-suite executive') == True, 'DevType'] = 'Developer'

In [58]:
df.groupby('DevType')['DevType'].count() #11 groups of Ethnicity after combining

DevType
Developer        73032
Manager            665
Non developer     2791
Student           3000
Name: DevType, dtype: int64

In [59]:
#df['Salary'].value_counts()

## Language to worked with

In [60]:
df['LanguageWorkedWith'].value_counts().nlargest(3)

C#;JavaScript;SQL;HTML;CSS     1235
JavaScript;PHP;SQL;HTML;CSS    1095
Java                            855
Name: LanguageWorkedWith, dtype: int64

In [61]:
df['LanguageWorkedWith'].isnull().sum()

9985

In [62]:
df['LanguageWorkedWith'].fillna(method='ffill', inplace=True)

In [63]:
df['LanguageWorkedWith'].isnull().sum()

0

In [64]:
df['LanguageWorkedWith'].value_counts().nlargest(3)

C#;JavaScript;SQL;HTML;CSS     1383
JavaScript;PHP;SQL;HTML;CSS    1226
Java                            989
Name: LanguageWorkedWith, dtype: int64

## LanguageDesireNextYear

In [65]:
df['LanguageDesireNextYear'].value_counts().nlargest(3)

Python                                   718
C#;JavaScript;SQL;TypeScript;HTML;CSS    557
C#                                       522
Name: LanguageDesireNextYear, dtype: int64

In [66]:
df['LanguageDesireNextYear'].isnull().sum()

14147

In [67]:
df['LanguageDesireNextYear'].fillna(method='ffill', inplace=True)

In [68]:
df['LanguageDesireNextYear'].isnull().sum()

0

In [69]:
df['LanguageDesireNextYear'].value_counts().nlargest(3)

Python                                   878
C#;JavaScript;SQL;TypeScript;HTML;CSS    690
C#                                       629
Name: LanguageDesireNextYear, dtype: int64

## Years of coding (Exp)

In [70]:
df['YearsCodingProf'].value_counts().nlargest(10)

0-2 years           22612
3-5 years           20883
6-8 years           11177
9-11 years           7456
12-14 years          4220
15-17 years          2987
18-20 years          2810
21-23 years          1352
30 or more years     1289
24-26 years           853
Name: YearsCodingProf, dtype: int64

In [71]:
df['YearsCodingProf'].isnull().sum()

3349

In [72]:
df['YearsCodingProf'].fillna(method='ffill', inplace=True)

In [73]:
df['YearsCodingProf'].isnull().sum()

0

In [74]:
df['YearsCodingProf'].value_counts().nlargest(10)

3-5 years           23773
0-2 years           22781
6-8 years           11274
9-11 years           7527
12-14 years          4267
15-17 years          3007
18-20 years          2841
21-23 years          1365
30 or more years     1294
24-26 years           856
Name: YearsCodingProf, dtype: int64

## Years of coding (Non Exp)

In [75]:
df['YearsCoding'].value_counts().nlargest(10)

3-5 years           19100
6-8 years           16537
9-11 years          10578
0-2 years            8022
12-14 years          7069
15-17 years          5459
18-20 years          4472
30 or more years     3136
21-23 years          2377
24-26 years          1671
Name: YearsCoding, dtype: int64

In [76]:
df['YearsCoding'].isnull().sum()

105

In [77]:
df['YearsCoding'].fillna(method='ffill', inplace=True)

In [78]:
df['YearsCoding'].isnull().sum()

0

In [79]:
df['YearsCoding'].value_counts().nlargest(10)

3-5 years           19135
6-8 years           16554
9-11 years          10585
0-2 years            8043
12-14 years          7077
15-17 years          5462
18-20 years          4476
30 or more years     3144
21-23 years          2378
24-26 years          1671
Name: YearsCoding, dtype: int64

## Operating System

In [80]:
df['OperatingSystem'].value_counts().nlargest(10)

Windows        34268
MacOS          18638
Linux-based    16069
BSD/Unix         139
Name: OperatingSystem, dtype: int64

In [81]:
df['OperatingSystem'].isnull().sum()

10374

In [82]:
df['OperatingSystem'].fillna(method='ffill', inplace=True)

In [83]:
df['OperatingSystem'].isnull().sum()

0

In [84]:
df['OperatingSystem'].value_counts().nlargest(10)

Windows        39475
MacOS          21433
Linux-based    18406
BSD/Unix         174
Name: OperatingSystem, dtype: int64

## Salary Type

In [85]:
df['SalaryType'].value_counts().nlargest(10)

Monthly    26201
Yearly     22541
Weekly      2248
Name: SalaryType, dtype: int64

In [86]:
df['SalaryType'].isnull().sum()

28498

In [87]:
df['SalaryType'].fillna(method='ffill', inplace=True)

In [88]:
df['SalaryType'].isnull().sum()

0

In [89]:
df['SalaryType'].value_counts().nlargest(10)

Monthly    40953
Yearly     34333
Weekly      4202
Name: SalaryType, dtype: int64

## Currency

In [90]:
df['Currency'].value_counts().nlargest(10)

U.S. dollars ($)               20599
Euros (€)                      15201
Indian rupees (₹)               7908
British pounds sterling (£)     4856
Canadian dollars (C$)           2535
Russian rubles (₽)              1768
Brazilian reais (R$)            1663
Australian dollars (A$)         1571
Polish złoty (zł)               1434
Swedish kroner (SEK)             864
Name: Currency, dtype: int64

In [91]:
df['Currency'].isnull().sum()

17483

In [92]:
df['Currency'].fillna(method='ffill', inplace=True)

In [93]:
df['Currency'].isnull().sum()

1

In [94]:
df.dropna(subset=['Currency'], inplace = True)

In [95]:
df['Currency'].value_counts().nlargest(10)

U.S. dollars ($)               26356
Euros (€)                      19465
Indian rupees (₹)              10152
British pounds sterling (£)     6194
Canadian dollars (C$)           3289
Russian rubles (₽)              2340
Brazilian reais (R$)            2122
Australian dollars (A$)         1970
Polish złoty (zł)               1856
Swedish kroner (SEK)            1101
Name: Currency, dtype: int64

## Salary

In [96]:
df['SalaryUSD'].value_counts().nlargest(10)

0.0          842
120000.0     524
100000.0     497
80000.0      396
1000000.0    382
110000.0     371
90000.0      364
150000.0     357
60000.0      351
75000.0      337
Name: SalaryUSD, dtype: int64

In [97]:
df['SalaryUSD'].isnull().sum()

31786

In [98]:
mean_salary = df.groupby(['DevType','Country'])['SalaryUSD'].mean() 
mean_salary.nlargest(10)

DevType        Country
Student        Saudi Arabia     1500000.0
Developer      Andorra           525089.5
Manager        Hungary           516000.0
               Netherlands       507175.0
Non developer  Algeria           360000.0
               Cyprus            293736.0
Developer      Liechtenstein     284028.0
Student        Finland           272212.0
Manager        Denmark           262920.6
Student        Israel            256522.4
Name: SalaryUSD, dtype: float64

In [99]:
means = df.groupby(['YearsCodingProf','DevType', 'Country'])['SalaryUSD'].transform('mean')
df['SalaryUSD'] = df['SalaryUSD'].fillna(means)

In [100]:
mean_salary = df.groupby(['YearsCodingProf','DevType','Country'])['SalaryUSD'].mean()
mean_salary.nlargest(10)

YearsCodingProf  DevType        Country
9-11 years       Student        Saudi Arabia                            1500000.0
12-14 years      Non developer  Norway                                  1000000.0
                 Student        Switzerland                             1000000.0
15-17 years      Non developer  Australia                               1000000.0
                                New Zealand                             1000000.0
21-23 years      Developer      Japan                                   1000000.0
                                Venezuela, Bolivarian Republic of...    1000000.0
                 Non developer  Sweden                                  1000000.0
                 Student        Finland                                 1000000.0
24-26 years      Manager        Canada                                  1000000.0
Name: SalaryUSD, dtype: float64

In [115]:
df.dropna(subset=['SalaryUSD'], inplace = True)

## Age

In [117]:
df['Age'].value_counts().nlargest(10)

25 - 34 years old     30969
18 - 24 years old     14847
35 - 44 years old     10980
45 - 54 years old      3072
Under 18 years old     1549
55 - 64 years old       865
65 years or older       144
Name: Age, dtype: int64

In [118]:
df['Age'].isnull().sum()

16374

In [119]:
df['Age'].fillna(method='ffill', inplace=True)

In [120]:
df['Age'].isnull().sum()

0

In [121]:
df['Age'].value_counts().nlargest(10)

25 - 34 years old     38797
18 - 24 years old     19074
35 - 44 years old     13665
45 - 54 years old      3821
Under 18 years old     2165
55 - 64 years old      1093
65 years or older       185
Name: Age, dtype: int64

In [122]:
print(df.isnull().sum())

Age                       0
SalaryUSD                 0
Country                   0
Currency                  0
DevType                   0
Employment                0
RaceEthnicity             0
Gender                    0
SalaryType                0
Hobby                     0
JobSatisfaction           0
JobSearchStatus           0
OperatingSystem           0
UndergradMajor            0
YearsCoding               0
YearsCodingProf           0
LanguageDesireNextYear    0
LanguageWorkedWith        0
dtype: int64

## Cleaned Dataset : 2018_Survey

In [123]:
cleaned_2018 = df[df.notnull()]
cleaned_2018.shape

(78800, 18)

In [124]:
cleaned_2018.head(10)

,Age,SalaryUSD,Country,Currency,DevType,Employment,RaceEthnicity,Gender,SalaryType,Hobby,JobSatisfaction,JobSearchStatus,OperatingSystem,UndergradMajor,YearsCoding,YearsCodingProf,LanguageDesireNextYear,LanguageWorkedWith
1,35 - 44 years old,70841.000000,United Kingdom,British pounds sterling (£),Developer,Full-time,White or European descent,Male,Yearly,Yes,Moderately dissatisfied,Seeking,Linux-based,Other Science,30 or more years,18-20 years,Go;Python,JavaScript;Python;Bash/Shell
2,35 - 44 years old,153030.333333,United States,British pounds sterling (£),Manager,Full-time,White or European descent,Non-conforming,Yearly,Yes,Moderately satisfied,Not seeking,Linux-based,Computer Science,24-26 years,6-8 years,Go;Python,JavaScript;Python;Bash/Shell
3,35 - 44 years old,165809.207657,United States,U.S. dollars ($),Developer,Full-time,White or European descent,Male,Yearly,No,Neither satisfied nor dissatisfied,Not seeking,Windows,Computer Science,18-20 years,12-14 years,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4,18 - 24 years old,21426.000000,South Africa,South African rands (R),Developer,Full-time,White or European descent,Male,Yearly,Yes,Slightly satisfied,Not seeking,Windows,Computer Science,6-8 years,0-2 years,Assembly;C;C++;Matlab;SQL;Bash/Shell,C;C++;Java;Matlab;R;SQL;Bash/Shell
5,18 - 24 years old,41671.000000,United Kingdom,British pounds sterling (£),Developer,Full-time,White or European descent,Male,Yearly,Yes,Moderately satisfied,Seeking,Linux-based,Computer Science,6-8 years,3-5 years,C#;Go;Java;JavaScript;Python;SQL;TypeScript;HT...,Java;JavaScript;Python;TypeScript;HTML;CSS
6,18 - 24 years old,120000.000000,United States,U.S. dollars ($),Developer,Full-time,White or European descent,Male,Yearly,Yes,Slightly satisfied,Not seeking,MacOS,Computer Science,9-11 years,0-2 years,C;Go;JavaScript;Python;HTML;CSS,JavaScript;HTML;CSS
7,25 - 34 years old,93336.000000,Nigeria,U.S. dollars ($),Non developer,Full-time,Black or African descent,Female,Yearly,Yes,Slightly satisfied,Not seeking,Windows,Computer Science,0-2 years,3-5 years,Matlab;SQL;Kotlin;Bash/Shell,JavaScript;TypeScript;HTML;CSS
8,35 - 44 years old,250000.000000,United States,U.S. dollars ($),Developer,Full-time,White or European descent,Male,Yearly,Yes,Moderately satisfied,Not seeking,MacOS,Arts and Science,30 or more years,21-23 years,Erlang;Go;Python;Rust;SQL,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...
13,35 - 44 years old,26023.003365,India,U.S. dollars ($),Developer,Full-time,South Asian,Non-conforming,Yearly,No,Extremely satisfied,Not seeking,Linux-based,Engineering,3-5 years,3-5 years,Java;Python,Java
14,18 - 24 years old,0.000000,Netherlands,Euros (€),Developer,Full-time,White or European descent,Male,Monthly,No,Neither satisfied nor dissatisfied,Not seeking,Windows,No major,0-2 years,0-2 years,Java;Python,Java;JavaScript;PHP;VB.NET;HTML;CSS

## After Cleaning Data

In [125]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')

Total :  1418400
Total missing :  0
Missing Percentage:  0.0 %