## Stackoverflow_Survey_Analysis_2018

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings; 
warnings.simplefilter('ignore')

## Exlporing 2018 Dataset

In [2]:
df2018 = pd.read_csv(r'C:\Users\sanja\Stack_Data\survey_results_public_2018.csv')
df2018.head(2)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
df2018.shape

(98855, 129)

In [4]:
#print(df2018.columns.tolist()      !--> Listing coloumsn in table

In [5]:
#dropping the columns
#drop_cols = ['Respondent', 'OpenSource', 'Student', 'FormalEducation', 'CompanySize', 'CareerSatisfaction', 'HopeFiveYears', 'LastNewJob', 'AssessJob1', 'AssessJob2', 'AssessJob3', 'AssessJob4', 'AssessJob5', 'AssessJob6', 'AssessJob7', 'AssessJob8', 'AssessJob9', 'AssessJob10', 'AssessBenefits1', 'AssessBenefits2', 'AssessBenefits3', 'AssessBenefits4', 'AssessBenefits5', 'AssessBenefits6', 'AssessBenefits7', 'AssessBenefits8', 'AssessBenefits9', 'AssessBenefits10', 'AssessBenefits11', 'JobContactPriorities1', 'JobContactPriorities2', 'JobContactPriorities3', 'JobContactPriorities4', 'JobContactPriorities5', 'JobEmailPriorities1', 'JobEmailPriorities2', 'JobEmailPriorities3', 'JobEmailPriorities4', 'JobEmailPriorities5', 'JobEmailPriorities6', 'JobEmailPriorities7', 'UpdateCV', 'CommunicationTools', 'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes', 'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1', 'AgreeDisagree2', 'AgreeDisagree3', 'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformDesireNextYear', 'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'IDE', 'NumberMonitors', 'Methodology', 'VersionControl', 'CheckInCode', 'AdBlocker', 'AdBlockerDisable', 'AdBlockerReasons', 'AdsAgreeDisagree1', 'AdsAgreeDisagree2', 'AdsAgreeDisagree3', 'AdsActions', 'AdsPriorities1', 'AdsPriorities2', 'AdsPriorities3', 'AdsPriorities4', 'AdsPriorities5', 'AdsPriorities6', 'AdsPriorities7', 'AIDangerous', 'AIInteresting', 'AIResponsible', 'AIFuture', 'EthicsChoice', 'EthicsReport', 'EthicsResponsible', 'EthicalImplications', 'StackOverflowRecommend', 'StackOverflowVisit', 'StackOverflowHasAccount', 'StackOverflowParticipate', 'StackOverflowJobs', 'StackOverflowDevStory', 'StackOverflowJobsRecommend', 'StackOverflowConsiderMember', 'HypotheticalTools1', 'HypotheticalTools2', 'HypotheticalTools3', 'HypotheticalTools4', 'HypotheticalTools5', 'WakeTime', 'HoursComputer', 'HoursOutside', 'SkipMeals', 'ErgonomicDevices', 'Exercise', 'SexualOrientation', 'EducationParents', 'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy']
#df2018.drop(drop_cols, axis=1, inplace=True)

In [6]:
#df2018.shape #checking rows and col after dropping the table

### Data Filtering - Sorting & Renaming

In [7]:
col=['Age','Salary','ConvertedSalary','Country','Currency','DevType','Employment','RaceEthnicity','Gender','SalaryType','Hobby','JobSatisfaction','JobSearchStatus','OperatingSystem','UndergradMajor','YearsCoding','YearsCodingProf','LanguageDesireNextYear','LanguageWorkedWith',]
df=df2018[col]

In [8]:
#renaming the colo
# 'ConvertedSalary': 'SalaryUSD'
df.rename(columns={'ConvertedSalary': 'SalaryUSD' }, inplace =True)

In [9]:
df.sort_index(axis=1).head(2)

,Age,Country,Currency,DevType,Employment,Gender,Hobby,JobSatisfaction,JobSearchStatus,LanguageDesireNextYear,LanguageWorkedWith,OperatingSystem,RaceEthnicity,Salary,SalaryType,SalaryUSD,UndergradMajor,YearsCoding,YearsCodingProf
0,25 - 34 years old,Kenya,NaN,Full-stack developer,Employed part-time,Male,Yes,Extremely satisfied,"I’m not actively looking, but I am open to new...",JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS,Linux-based,Black or of African descent,NaN,Monthly,NaN,Mathematics or statistics,3-5 years,3-5 years
1,35 - 44 years old,United Kingdom,British pounds sterling (£),Database administrator;DevOps specialist;Full-...,Employed full-time,Male,Yes,Moderately dissatisfied,I am actively looking for a job,Go;Python,JavaScript;Python;Bash/Shell,Linux-based,White or of European descent,51000,Yearly,70841.0,"A natural science (ex. biology, chemistry, phy...",30 or more years,18-20 years

In [10]:
#21 col has been selected rfom 129, compared the shape
df.shape

(98855, 19)

In [11]:
print(df.isnull().sum()) #Finding Null Values

Age                       34281
Salary                    48277
SalaryUSD                 51153
Country                     412
Currency                  36847
DevType                    6757
Employment                 3534
RaceEthnicity             41382
Gender                    34386
SalaryType                47785
Hobby                         0
JobSatisfaction           29579
JobSearchStatus           19367
OperatingSystem           22676
UndergradMajor            19819
YearsCoding                5020
YearsCodingProf           20952
LanguageDesireNextYear    25611
LanguageWorkedWith        20521
dtype: int64

In [12]:
df.dtypes #data_types

Age                        object
Salary                     object
SalaryUSD                 float64
Country                    object
Currency                   object
DevType                    object
Employment                 object
RaceEthnicity              object
Gender                     object
SalaryType                 object
Hobby                      object
JobSatisfaction            object
JobSearchStatus            object
OperatingSystem            object
UndergradMajor             object
YearsCoding                object
YearsCodingProf            object
LanguageDesireNextYear     object
LanguageWorkedWith         object
dtype: object

## Data Validation - Total Cells vs Missing %

In [13]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')

Total :  1878245
Total missing :  468359
Missing Percentage:  24.93599077862579 %

## Gender Filtering          
#### Data Cleaning Starts

In [14]:
#Gender: null = 13312 (21.6%)
df['Gender'].unique()
#count number of each gender
df.groupby('Gender')['Gender'].count()

Gender
Female                                                                        4025
Female;Male                                                                     98
Female;Male;Non-binary, genderqueer, or gender non-conforming                    3
Female;Male;Transgender                                                         14
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming       50
Female;Non-binary, genderqueer, or gender non-conforming                        50
Female;Transgender                                                             145
Female;Transgender;Non-binary, genderqueer, or gender non-conforming            24
Male                                                                         59458
Male;Non-binary, genderqueer, or gender non-conforming                         128
Male;Transgender                                                                29
Male;Transgender;Non-binary, genderqueer, or gender non-conforming               5
Non-binary, genderqueer, or gender non-conforming                              284
Transgender                                                                    105
Transgender;Non-binary, genderqueer, or gender non-conforming                   51
Name: Gender, dtype: int64

In [15]:
#replace
df['Gender'] = df['Gender'].fillna('Non-binary, genderqueer, or gender non-conforming')
df['Gender'].replace('Female;Male;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Female', inplace =True)
df['Gender'].replace('Male;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'Male', inplace =True)
df['Gender'].replace('Transgender;Non-binary, genderqueer, or gender non-conforming', 'Non-conforming', inplace =True) ##not sure
df['Gender'].replace('Female;Male', 'Female', inplace =True)
df['Gender'].replace('Female;Male;Transgender', 'Female', inplace =True)
df['Gender'].replace('Female;Transgender', 'Female', inplace =True)
df['Gender'].replace('Male;Transgender', 'Female', inplace =True) 
df['Gender'].replace('Non-binary, genderqueer, or gender non-conforming', 'Non-conforming', inplace =True) #
df['Gender'].replace('Transgender', 'Male', inplace =True)

In [16]:
df.groupby('Gender')['Gender'].count()

Gender
Female             4438
Male              59696
Non-conforming    34721
Name: Gender, dtype: int64

In [17]:
df.shape

(98855, 19)

## Country

In [18]:
df.groupby('Country')['Country'].count()

Country
Afghanistan                              64
Albania                                 109
Algeria                                 130
Andorra                                  15
Angola                                   11
                                       ...
Venezuela, Bolivarian Republic of...    123
Viet Nam                                331
Yemen                                    13
Zambia                                    9
Zimbabwe                                 39
Name: Country, Length: 183, dtype: int64

In [19]:
df['Country'].isnull().sum()

412

## Hobby

In [20]:
df['Hobby'].isnull().sum()

0

In [21]:
df.groupby('Hobby')['Hobby'].count()

Hobby
No     18958
Yes    79897
Name: Hobby, dtype: int64

## undergrad

In [22]:
df['UndergradMajor'].isnull().sum()

19819

In [23]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          50336
Another engineering discipline (ex. civil, electrical, mechanical)        6945
Information systems, information technology, or system administration     6507
A natural science (ex. biology, chemistry, physics)                       3050
Mathematics or statistics                                                 2818
Web development or web design                                             2418
A business discipline (ex. accounting, finance, marketing)                1921
A humanities discipline (ex. literature, history, philosophy)             1590
A social science (ex. anthropology, psychology, political science)        1377
Fine arts or performing arts (ex. graphic design, music, studio art)      1135
I never declared a major                                                   693
A health science (ex. nursing, pharmacy, radiology)                        246
Name: UndergradMajor, dtype: int64

In [24]:
def refactor_major(df):
    conditions_major = [(df['UndergradMajor'] == 'Computer science, computer engineering, or software engineering'), 
                        (df['UndergradMajor'] == 'Another engineering discipline (ex. civil, electrical, mechanical)'),
                        (df['UndergradMajor'] == 'Information systems, information technology, or system administration'), 
                        (df['UndergradMajor'] == 'Mathematics or statistics'),
                        (df['UndergradMajor'] == 'A natural science (ex. biology, chemistry, physics)') 
                        |(df['UndergradMajor'] == 'A health science (ex. nursing, pharmacy, radiology)'), 
                        (df['UndergradMajor'] == 'Web development or web design'), 
                        (df['UndergradMajor'] == 'A business discipline (ex. accounting, finance, marketing)'), 
                        (df['UndergradMajor'] == 'A humanities discipline (ex. literature, history, philosophy)')
                        | (df['UndergradMajor'] == 'A social science (ex. anthropology, psychology, political science)')
                        | (df['UndergradMajor'] == 'Fine arts or performing arts (ex. graphic design, music, studio art)'),
                        (df['UndergradMajor'] == 'I never declared a major') ]
    
    choices_major = ['Computer Science', 'Engineering', 'Info Systems', 'Math/Stat', 'Other Science',
                     'Web Design/Dev', 'Business', 'Arts and Science', 'No major']
    df['UndergradMajor'] = np.select(conditions_major, choices_major, default = np.NaN)
    return df

df = refactor_major(df)
df['UndergradMajor'].replace('nan', 'No major', inplace=True)

In [25]:
df['UndergradMajor'].value_counts()

Computer Science    50336
No major            20512
Engineering          6945
Info Systems         6507
Arts and Science     4102
Other Science        3296
Math/Stat            2818
Web Design/Dev       2418
Business             1921
Name: UndergradMajor, dtype: int64

## Job Status

In [26]:
df['JobSearchStatus'].value_counts()

I’m not actively looking, but I am open to new opportunities    47556
I am not interested in new job opportunities                    19296
I am actively looking for a job                                 12636
Name: JobSearchStatus, dtype: int64

In [27]:
df.dropna(subset=['JobSearchStatus'], inplace=True)

In [28]:
# refactoring JobStatus
# changing the jobstatus to seeking and non seeking
def refactor_job(df):
    '''function to change JobStatus category to Seeking and Non Seeking'''
    
    conditions_job = [(df['JobSearchStatus'] == 'I am actively looking for a job'),
                    (df['JobSearchStatus'] == 'I am not interested in new job opportunities')
                    | (df['JobSearchStatus'] == 'I’m not actively looking, but I am open to new opportunities')]
    
    choices_job = ['Seeking', 'Not seeking']
    
    df['JobSearchStatus'] = np.select(conditions_job, choices_job, default=np.nan)
                       
    return df

df = refactor_job(df)

In [29]:
df['JobSearchStatus'].value_counts()

Not seeking    66852
Seeking        12636
Name: JobSearchStatus, dtype: int64

## Employment

In [30]:
df['Employment'].value_counts()

Employed full-time                                      58551
Independent contractor, freelancer, or self-employed     7797
Not employed, but looking for work                       4604
Employed part-time                                       4170
Not employed, and not looking for work                   3210
Retired                                                   138
Name: Employment, dtype: int64

In [31]:
df['Employment'].isnull().sum()

1018

In [32]:
df.dropna(subset=['Employment'], inplace=True)

In [33]:
#im not considering the retired person here
#Refactoring the employment
def refactor_emp(df):
    
    conditions_emp = [(df['Employment'] == 'Employed full-time'),
                    (df['Employment'] == 'Independent contractor, freelancer, or self-employed'),
                    (df['Employment'] == 'Not employed, but looking for work'),
                    (df['Employment'] == 'Employed part-time')]
    
    choices_emp = ['Full-time', 'Self-employed', 'Not employed', 'Part-time']
    
    df['Employment'] = np.select(conditions_emp, choices_emp, default=np.nan)
                       
    return df

df = refactor_emp(df)

In [34]:
df['Employment'].value_counts()

Full-time        58551
Self-employed     7797
Not employed      4604
Part-time         4170
nan               3348
Name: Employment, dtype: int64

## JobSatisfaction

In [35]:
df['JobSatisfaction'].value_counts()

Moderately satisfied                  25908
Extremely satisfied                   12395
Slightly satisfied                     9973
Slightly dissatisfied                  7037
Moderately dissatisfied                6286
Neither satisfied nor dissatisfied     4935
Extremely dissatisfied                 2472
Name: JobSatisfaction, dtype: int64

In [36]:
print(df.isnull().sum())

Age                       16201
Salary                    28075
SalaryUSD                 30923
Country                       0
Currency                  17153
DevType                     671
Employment                    0
RaceEthnicity             22976
Gender                        0
SalaryType                27828
Hobby                         0
JobSatisfaction            9464
JobSearchStatus               0
OperatingSystem           10101
UndergradMajor                0
YearsCoding                  80
YearsCodingProf            3074
LanguageDesireNextYear    13836
LanguageWorkedWith         9721
dtype: int64

In [42]:
df['Salary'].value_counts()

60000       1094
100000      1083
0           1081
50000       1067
80000        887
            ...
3890           1
76553          1
87686          1
4489           1
2,346.15       1
Name: Salary, Length: 3986, dtype: int64

## Ethnicity

In [44]:
df['RaceEthnicity'].isnull().sum()

22976

## Cleaned Dataset : 2018_Survey

In [38]:
cleaned_2018 = df[df.notnull()]
cleaned_2018.shape

(78470, 19)

In [39]:
cleaned_2018.head(10)

,Age,Salary,SalaryUSD,Country,Currency,DevType,Employment,RaceEthnicity,Gender,SalaryType,Hobby,JobSatisfaction,JobSearchStatus,OperatingSystem,UndergradMajor,YearsCoding,YearsCodingProf,LanguageDesireNextYear,LanguageWorkedWith
0,25 - 34 years old,NaN,NaN,Kenya,NaN,Full-stack developer,Part-time,Black or of African descent,Male,Monthly,Yes,Extremely satisfied,Not seeking,Linux-based,Math/Stat,3-5 years,3-5 years,JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS
1,35 - 44 years old,51000,70841.0,United Kingdom,British pounds sterling (£),Database administrator;DevOps specialist;Full-...,Full-time,White or of European descent,Male,Yearly,Yes,Moderately dissatisfied,Seeking,Linux-based,Other Science,30 or more years,18-20 years,Go;Python,JavaScript;Python;Bash/Shell
2,NaN,NaN,NaN,United States,NaN,Engineering manager;Full-stack developer,Full-time,NaN,Non-conforming,NaN,Yes,Moderately satisfied,Not seeking,NaN,Computer Science,24-26 years,6-8 years,NaN,NaN
3,35 - 44 years old,NaN,NaN,United States,U.S. dollars ($),Full-stack developer,Full-time,White or of European descent,Male,NaN,No,Neither satisfied nor dissatisfied,Not seeking,Windows,Computer Science,18-20 years,12-14 years,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4,18 - 24 years old,260000,21426.0,South Africa,South African rands (R),Data or business analyst;Desktop or enterprise...,Full-time,White or of European descent,Male,Yearly,Yes,Slightly satisfied,Not seeking,Windows,Computer Science,6-8 years,0-2 years,Assembly;C;C++;Matlab;SQL;Bash/Shell,C;C++;Java;Matlab;R;SQL;Bash/Shell
5,18 - 24 years old,30000,41671.0,United Kingdom,British pounds sterling (£),Back-end developer;Database administrator;Fron...,Full-time,White or of European descent,Male,NaN,Yes,Moderately satisfied,Seeking,Linux-based,Computer Science,6-8 years,3-5 years,C#;Go;Java;JavaScript;Python;SQL;TypeScript;HT...,Java;JavaScript;Python;TypeScript;HTML;CSS
6,18 - 24 years old,120000,120000.0,United States,U.S. dollars ($),Back-end developer;Front-end developer;Full-st...,Full-time,White or of European descent,Male,Yearly,Yes,Slightly satisfied,Not seeking,MacOS,Computer Science,9-11 years,0-2 years,C;Go;JavaScript;Python;HTML;CSS,JavaScript;HTML;CSS
7,25 - 34 years old,NaN,NaN,Nigeria,NaN,Designer;Front-end developer;QA or test developer,Full-time,Black or of African descent,Female,NaN,Yes,Slightly satisfied,Not seeking,Windows,Computer Science,0-2 years,3-5 years,Matlab;SQL;Kotlin;Bash/Shell,JavaScript;TypeScript;HTML;CSS
8,35 - 44 years old,250000,250000.0,United States,U.S. dollars ($),"Back-end developer;C-suite executive (CEO, CTO...",Full-time,White or of European descent,Male,Yearly,Yes,Moderately satisfied,Not seeking,MacOS,Arts and Science,30 or more years,21-23 years,Erlang;Go;Python;Rust;SQL,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...
13,NaN,NaN,NaN,India,NaN,Back-end developer;Full-stack developer,Full-time,NaN,Non-conforming,NaN,No,Extremely satisfied,Not seeking,Linux-based,Engineering,3-5 years,3-5 years,Java;Python,Java

In [ ]:
#replace
df['DevType'].replace('Back-end developer', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.)', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer', 'Developer', inplace =True)
df['DevType'].replace('QA or test developer;Student;System administrator', 'Non developer', inplace =True)
df['DevType'].replace('QA or test developer;System administrator', 'Non developer', inplace =True)
df['DevType'].replace('Student;System administrator', 'Student', inplace =True)
df['DevType'].replace('Student;System administrator', 'Student', inplace =True)
df['DevType'].replace('System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Game or graphics developer;Marketing or sales professional;Mobile developer;Product manager;QA or test developer;Student;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Game or graphics developer;Marketing or sales professional;Mobile developer;Product manager;QA or test developer;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Game or graphics developer;Product manager;QA or test developer;Student;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Marketing or sales professional;Mobile developer;Product manager;QA or test developer;Student;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Marketing or sales professional;Mobile developer;Product manager;QA or test developer;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Marketing or sales professional;Mobile developer;QA or test developer;Student;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;Marketing or sales professional;Product manager;QA or test developer;Student;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Engineering manager;Front-end developer;Full-stack developer;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Back-end developer;C-suite executive (CEO, CTO, etc.);Data or business analyst;Data scientist or machine learning specialist;Database administrator;Designer;Desktop or enterprise applications developer;DevOps specialist;Educator or academic researcher;Embedded applications or devices developer;Front-end developer;Full-stack developer;Game or graphics developer;Marketing or sales professional;Mobile developer;Product manager;QA or test developer;System administrator', 'Developer', inplace =True)
df['DevType'].replace('Product manager;Student;System administrator', 'Non developer', inplace =True)
df['DevType'].replace('Product manager;System administrator', 'Non developer', inplace =True)
df['DevType'].replace('QA or test developer', 'Non developer', inplace =True)
df['DevType'].replace('QA or test developer;Student ', 'Non developer', inplace =True)

In [ ]:
df.groupby('DevType')['DevType'].count()

## Salary

In [ ]:
#df.groupby('Salary')['Salary'].count()

In [ ]:
#print(df.isnull().sum())

In [ ]:
df.shape

## Age

In [ ]:
df['Age'].unique()

In [ ]:
#sns.scatterplot(x='Gender', y='Age', data=df) #I can arrange a random variable here, but need input from the user.
#df = df[(df['Age'] >= 'Under 18 years old') & (df['Age'] <= '65 years or older')]

In [ ]:
#df.info()   #  My age,Gender is object here

## After Cleaning Data

In [ ]:
#Find % of missing data
missing_count = df.isnull().sum() #number of missing
total_cells = np.product(df.shape) # number of cells (cols x rows)
total_missing = missing_count.sum()
missing_percent = (total_missing*100)/total_cells

print('Total : ', total_cells)
print('Total missing : ', total_missing)
print('Missing Percentage: ', missing_percent, '%')